// Core

*:focus {
  outline: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: $footer-height;
}

a {
  cursor: pointer;
}

textarea {
  resize: vertical;
}


// Navbar

.navbar {
  box-shadow: 0 5px 7px rgba(0,0,0,0.19);

  &-nav a {
    transition: .2s;
  }
}


// Alerts

.alert-dismissable,
.alert-dismissible {
  .close {
    top: 0;
  }
} 


// Panels

.panel {
  border: none;
  box-shadow: 0 4px 18px rgba(0,0,0,0.08);

  .panel-heading {
    border: none;
  }

  *:last-child {
    margin-bottom: 0;
  }
}


// List group

.list-group {
  > * {
    position: relative;
  }

  &-item {
    padding: $padding-base-vertical $padding-base-horizontal;
    @include transition(.15s);    

    &-heading {
      font-size: 16px;
      margin-bottom: 3px;
    }

    &-text {
      font-size: 12px;
    }

    &:hover + .btn-category-remove {
      opacity: 1;
    }
  }
}


// Categories buttons

.btn-category {
  &-new {
    float: right;
    font-size: 28px;
    line-height: 1;
    margin: -3px;
    border-radius: 50%;
    text-align: center;
    @include square(25px);
    @include transition(.2s);

    &:hover {
      color: white;
      background-color: $brand-danger;
      text-decoration: none;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
  }

  &-remove {
    @include square(22px);
    background: #eceff1;
    border-radius: 50%;
    color: #607d8b;
    float: right;
    font-size: 12px;
    text-align: center;
    padding-top: 4px;
    line-height: 1;
    margin-left: $padding-base-horizontal;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    z-index: 2;
    cursor: pointer;
    @include transition(opacity .2s);

    &:hover {
      opacity: 1;
      background-color: $brand-danger;
      color: white;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    }
  }
}


// Posts

.post {
  .panel-body {
    padding: $post-panel-body-padding;
  }

  &-header {
    margin: 0 0 10px;
  }

  &-title {
    margin: 0 0 10px;
    font-size: 22px;

    a:hover {
      text-decoration: none;
    }
  }

  &-content-has-image {
    padding-left: 85px;

    @media (max-width: $screen-xs-max) {
      padding-left: 0;
    }
  }

  &-image {
    float: left;
    margin: 2px 0 0 -85px;
    width: 75px;
    border-radius: 3px;

    @media (max-width: $screen-xs-max) {
      width: auto;
      max-width: 100%;
      margin: 0 auto 10px !important;
      float: none;
      display: block;
    }
  }

  &-content-btn {
    white-space: nowrap;
    margin-left: 5px;
  }

  &-action-buttons {
    float: right;
    opacity: 0;
    @include transition(opacity .2s);

    a {
      @include square(30px);
      background: #eceff1;
      border-radius: 50%;
      color: #607d8b;
      float: right;
      text-align: center;
      padding-top: 7px;
      line-height: 1;
      margin-left: $padding-base-horizontal;
      @include transition(.15s);

      &:hover {
        background-color: $brand-danger;
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &-list {
    font-size: 12px;
    margin-bottom: 0;

    li:not(:first-child):not(:empty):before {
      content: '';
      border-radius: 50%;
      background: lighten($gray-light, 20%);
      float: left;
      margin: 6px 8px 0 -2px;
      @include square(3px);
    }

    li:empty {
      display: none;

      + li:before {
        display: none;
        margin: 0;
      }
    }
  }

  &-comment {
    i {
      padding: 2px 5px 0 0;
      float: left;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    .post-action-buttons {
      opacity: 1;
    }
  }
}


// Button `New post`

.btn-new-post {
  background-color: $brand-danger;
  color: white;
  line-height: 1;
  font-size: 28px;
  text-align: center;
  border-radius: 50px;
  padding-top: 13px;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: $line-height-computed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  @include square(50px);
  @include transition(.1s linear);

  &-text {
    font-size: 16px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    @include size(0, 20px);
    @include transition(.1s);
  }

  &:hover {
    text-decoration: none;
    background-color: $brand-danger;
    color: white;
    width: 220px;

    @include transition(.15s linear);

    .btn-new-post-text {
      width: 110px;
      opacity: 1;
      @include transition(width .1s linear .2s, opacity .15s .3s);
    }
  }
}


// Comments

.comment {
  padding-top: $padding-base-vertical;
  margin-top: $padding-base-vertical;

  &:not(:first-child) {
    .comment-author {
      margin-top: 2px;
    }
  }

  &-author {
    margin: 0;
    color: $gray-light;
    font-size: 12px;
  }

  &-content {
    margin: 1px 0 0;
  }

  &-footer {
    margin: 0;
    font-size: 12px;
    color: #bbb;

    > * {
      display: inline-block;

      + *:before {
        content: '';
        border-radius: 50%;
        background: #bbb;
        margin: 6px 8px 0;
        float: left;
        width: 3px;
        height: 3px;
      }
    }
  }

  + .comment {
    border-top: 1px solid $gray-lighter;
  }

  &-form {
    margin-top: $padding-base-vertical * 2;

    input,
    textarea {
      margin-bottom: $padding-base-vertical;
    }
  }
}


// Footer

.footer {
  position: absolute;
  bottom: 0;
  width: $footer-weight;
  height: $footer-height;
  color: $footer-color;
  background-color: $footer-bg-color;
  line-height: $footer-height;
  box-shadow: 0 -5px 7px rgba(0,0,0,0.19);

  a {
    color: $footer-color;
  }
}


// Mixin for preloaders

@mixin loader {
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    opacity: .0;
    margin: -5px 5px;
    border-radius: 50%;    
    @include square(10px);
  }

  &:before {
    left: 50%;
    right: auto;
    background: $brand-primary;
    animation: loading 1.3s .65s infinite;
  }

  &:after {
    left: auto;
    right: 50%;
    background: $brand-danger;
    animation: loading 1.3s infinite;
  }
}

@keyframes loading {
  0% {
    opacity: .1;
    transform: scale(.1);
    box-shadow: 0 0 2px rgba(black, .2);
  }

  50% {
    opacity: 1;
    transform: scale(2);
    box-shadow: 0 0 10px rgba(black, .2);
  }

  100% {
    opacity: .1;
    transform: scale(.1);
    box-shadow: 0 0 2px rgba(black, .2);
  }
}


// Preloader for page

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  opacity: 1;
  visibility: visible;
  background: $body-bg;
  @include loader;
  @include transition(.2s);

  &.done {
    opacity: 0;
    visibility: hidden;
  }
}


// Preloader for blocks

.loading {
  position: relative;
  height: 25px;
  @include loader;
}


// AlertifyJS

.alertify {
  .ajs-dimmer {
    background-color: #000;
    opacity: .5;
  }

  .ajs-dialog {
    max-width: 600px;
    min-height: 122px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }

  .ajs-header {
    color: #333;
    border-bottom: 1px solid $gray-lighter;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    line-height: 1;
    padding: 15px 24px 13px;
  }

  .ajs-commands {
    right: 0;
    margin: -11px 18px 0 0;

    button {
      float: left;
    }
  }

  .ajs-body {
    color: black;
    min-height: 50px;

    .ajs-content {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .ajs-footer {
    background-color: #fff;
    padding: 7px 20px;
    border-top: 1px solid $gray-lighter;
    border-radius: 0 0 3px 3px;

    .ajs-buttons .ajs-button {
      min-width: 70px;
      min-height: 0;
    }
  }

  &.ajs-maximized .ajs-dialog {
    border-radius: 0;
  }

  .ajs-content > div > *:last-child {
    margin-bottom: 0;
  }
  
  &.ajs-no-padding {
    &:not(.ajs-maximized) .ajs-body {
      margin-left: -5px;
      margin-right: -5px;
        
      .ajs-content {
        padding: $line-height-computed 0;
      }
    }
    
    &.ajs-maximized .ajs-body .ajs-content {
      padding: $line-height-computed;
    }
  }
} 

.alertify-notifier {
  &.ajs-top {
    top: 0;
  }

  &.ajs-right {
    right: 10px;

    .ajs-message.ajs-visible {
      right: 260px;
    }
  }

  .ajs-message {
    background: rgba(255, 255, 255, 0.95);
    color: #000;
    border-radius: 4px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);

    &.ajs-success {
      color: #fff;
      background: $brand-success;
    }

    &.ajs-error {
      color: #fff;
      background: $brand-danger;
    }

    &.ajs-warning {
      border-color: #999;
      background: $brand-warning;
    }
  }
}
